# **IMPORT LIBRARY**

In [4]:
import pandas as pd
import requests
import csv
from io import StringIO
from datetime import datetime

# **Import First Data**

In [5]:
url = "https://www.alphavantage.co/query?function=ALL_COMMODITIES&interval=monthly&apikey=69FRR5Y479JKUCVX"
response = requests.get(url)
json_data = response.json()
df = pd.json_normalize(json_data['data'])
df.to_csv('commodities.csv', index=False)

In [6]:
data1 = pd.read_csv('commodities.csv')
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 382 entries, 0 to 381
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    382 non-null    object
 1   value   382 non-null    object
dtypes: object(2)
memory usage: 6.1+ KB

# **Import Second Data**

In [7]:
# Get the current year and current date
current_year = datetime.now().year
current_date = datetime.now().strftime("%Y-%m-%dT%H:%M:%S")

# Create the URL with dynamic startDateTime and endDateTime values
url = f"https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/weatherdata/history?&aggregateHours=24&startDateTime={current_year}-01-01T00:00:00&endDateTime={current_date}&unitGroup=metric&contentType=csv&dayStartTime=0:0:00&dayEndTime=0:0:00&location=US&key=9KVZ52XFSR3SZVFPKWAXWB3AS"

# Make the request to the API
response = requests.get(url)

# Check if the request was successful
if response.status_code == 200:
    # Mengambil data CSV menggunakan .text
    csv_data = response.text

    # Membaca data CSV dari string
    csv_reader = csv.reader(StringIO(csv_data))

    # Menyimpan data CSV ke dalam file
    with open('weather.csv', 'w', newline='') as csv_file:
        csv_writer = csv.writer(csv_file)

        # Menulis setiap baris dari data CSV ke dalam file
        csv_writer.writerows(csv_reader)
else:
    print(f"Error: {response.status_code}")

In [8]:
data2 = pd.read_csv('weather.csv')
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 326 entries, 0 to 325
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              326 non-null    object
 1   Date time            326 non-null    object
 2   Minimum Temperature  326 non-null    float64
 3   Maximum Temperature  326 non-null    float64
 4   Temperature          326 non-null    float64
 5   Dew Point            326 non-null    float64
 6   Relative Humidity    326 non-null    float64
 7   Heat Index           115 non-null    float64
 8   Wind Speed           326 non-null    float64
 9   Wind Gust            218 non-null    float64
 10  Wind Direction       326 non-null    float64
 11  Wind Chill           135 non-null    float64
 12  Precipitation        326 non-null    float64
 13  Precipitation Cover  326 non-null    float64
 14  Snow Depth           2 non-null      float64
 15  Visibility           326 non-null    float64
 16  Cloud Cover          326 non-null    float64
 17  Sea Level Pressure   326 non-null    float64
 18  Weather Type         194 non-null    object
 19  Latitude             326 non-null    float64
 20  Longitude            326 non-null    float64
 21  Resolved Address     326 non-null    object
 22  Name                 326 non-null    object
 23  Info                 0 non-null      float64
 24  Conditions           326 non-null    object
dtypes: float64(19), object(6)
memory usage: 63.8+ KB

# **EDA on First Data**

In [9]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 382 entries, 0 to 381
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    382 non-null    object
 1   value   382 non-null    object
dtypes: object(2)
memory usage: 6.1+ KB

In [10]:
data1

           date             value
0    2023-10-01   167.77064363426
1    2023-09-01  168.657488561668
2    2023-08-01   161.30619330389
3    2023-07-01  157.908976461302
4    2023-06-01  154.069169324197
..          ...               ...
377  1992-05-01                 .
378  1992-04-01                 .
379  1992-03-01                 .
380  1992-02-01                 .
381  1992-01-01                 .

[382 rows x 2 columns]

## value

In [11]:
data1['value'].value_counts()

value
.                   132
120.502487414329      1
137.843341038294      1
137.719023925784      1
140.402469952676      1
                   ...
103.515057896825      1
100.832288233466      1
96.9279430586823      1
93.5966567628088      1
166.74340866391       1
Name: count, Length: 251, dtype: int64

## date

In [12]:
data1['date'].value_counts()

date
2023-10-01    1
2002-11-01    1
2002-02-01    1
2002-03-01    1
2002-04-01    1
             ..
2013-05-01    1
2013-06-01    1
2013-07-01    1
2013-08-01    1
1992-01-01    1
Name: count, Length: 382, dtype: int64

# **Feature Engineering on First Data**

## 'date' to datetime

In [13]:
data1['date'] = pd.to_datetime(data1['date'])

In [14]:
data1 = data1[data1['date'].dt.year == 2023]

## Make 'date' into ascending

In [15]:
data1 = data1.sort_values(by='date', ascending=True, ignore_index=True)

# **EDA on Second Data**

In [16]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 326 entries, 0 to 325
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              326 non-null    object
 1   Date time            326 non-null    object
 2   Minimum Temperature  326 non-null    float64
 3   Maximum Temperature  326 non-null    float64
 4   Temperature          326 non-null    float64
 5   Dew Point            326 non-null    float64
 6   Relative Humidity    326 non-null    float64
 7   Heat Index           115 non-null    float64
 8   Wind Speed           326 non-null    float64
 9   Wind Gust            218 non-null    float64
 10  Wind Direction       326 non-null    float64
 11  Wind Chill           135 non-null    float64
 12  Precipitation        326 non-null    float64
 13  Precipitation Cover  326 non-null    float64
 14  Snow Depth           2 non-null      float64
 15  Visibility           326 non-null    float64
 16  Cloud Cover          326 non-null    float64
 17  Sea Level Pressure   326 non-null    float64
 18  Weather Type         194 non-null    object
 19  Latitude             326 non-null    float64
 20  Longitude            326 non-null    float64
 21  Resolved Address     326 non-null    object
 22  Name                 326 non-null    object
 23  Info                 0 non-null      float64
 24  Conditions           326 non-null    object
dtypes: float64(19), object(6)
memory usage: 63.8+ KB

In [17]:
data2

,Address,Date time,Minimum Temperature,Maximum Temperature,Temperature,Dew Point,Relative Humidity,Heat Index,Wind Speed,Wind Gust,...,Visibility,Cloud Cover,Sea Level Pressure,Weather Type,Latitude,Longitude,Resolved Address,Name,Info,Conditions
0,US,01/01/2023,6.4,16.3,11.0,7.9,82.24,NaN,14.2,NaN,...,14.6,47.7,1015.4,"Mist, Fog",38.8904,-77.032,United States,United States,NaN,"Rain, Partially cloudy"
1,US,01/02/2023,4.4,17.2,10.5,6.8,79.25,NaN,14.7,NaN,...,15.9,87.8,1019.7,Mist,38.8904,-77.032,United States,United States,NaN,Overcast
2,US,01/03/2023,10.1,20.0,15.1,11.3,78.49,NaN,28.5,47.1,...,15.6,90.7,1014.0,Light Rain,38.8904,-77.032,United States,United States,NaN,Overcast
3,US,01/04/2023,11.9,18.3,15.3,12.8,85.43,NaN,22.8,50.0,...,15.9,85.1,1010.4,Light Rain,38.8904,-77.032,United States,United States,NaN,Overcast
4,US,01/05/2023,9.8,17.8,13.5,7.8,70.43,NaN,20.2,NaN,...,15.9,75.8,1013.3,Fog,38.8904,-77.032,United States,United States,NaN,Overcast
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321,US,11/18/2023,8.2,15.6,12.8,4.9,62.37,NaN,31.4,59.0,...,15.9,38.1,1010.3,"Mist, Light Rain",38.8904,-77.032,United States,United States,NaN,"Rain, Partially cloudy"
322,US,11/19/2023,3.9,15.9,9.7,-1.9,46.61,NaN,20.0,38.9,...,16.0,0.9,1016.6,NaN,38.8904,-77.032,United States,United States,NaN,Clear
323,US,11/20/2023,4.1,10.5,7.1,-1.5,55.23,NaN,17.2,33.5,...,16.0,55.1,1027.1,NaN,38.8904,-77.032,United States,United States,NaN,Partially cloudy
324,US,11/21/2023,4.0,14.9,8.9,5.6,80.39,NaN,25.9,44.3,...,10.9,97.6,1023.3,NaN,38.8904,-77.032,United States,United States,NaN,"Rain, Overcast"
325,US,11/22/2023,9.4,12.7,11.6,10.5,93.21,NaN,16.3,NaN,...,14.4,92.5,1009.6,NaN,38.8904,-77.032,United States,United States,NaN,"Rain, Overcast"

## Date time

In [18]:
data2['Date time'].value_counts()

Date time
01/01/2023    1
07/24/2023    1
08/11/2023    1
08/10/2023    1
08/09/2023    1
             ..
04/18/2023    1
04/17/2023    1
04/16/2023    1
04/15/2023    1
11/22/2023    1
Name: count, Length: 326, dtype: int64

## Minimum Temperature

In [19]:
data2['Minimum Temperature'].value_counts()

Minimum Temperature
22.7    7
4.9     6
4.8     5
14.9    5
14.7    4
       ..
13.4    1
6.9     1
5.1     1
5.3     1
4.0     1
Name: count, Length: 185, dtype: int64

## Maximum Temperature

In [20]:
data2['Maximum Temperature'].value_counts()

Maximum Temperature
30.5    8
27.0    7
27.1    6
16.0    6
29.8    6
       ..
13.3    1
6.1     1
5.5     1
8.7     1
15.9    1
Name: count, Length: 152, dtype: int64

## Temperature

In [21]:
data2['Temperature'].value_counts()

Temperature
13.5    6
8.9     5
20.4    4
20.2    4
25.6    4
       ..
19.4    1
13.9    1
20.0    1
18.2    1
14.4    1
Name: count, Length: 193, dtype: int64

## Dew Point

In [22]:
data2['Dew Point'].value_counts()

Dew Point
 15.5    5
 11.0    5
 20.7    5
 16.4    4
 9.4     4
        ..
 0.2     1
 4.5     1
-1.8     1
 11.9    1
 10.5    1
Name: count, Length: 196, dtype: int64

## Relative Humidity

In [23]:
data2['Relative Humidity'].value_counts()

Relative Humidity
72.87    2
63.03    2
60.12    2
60.59    2
50.94    2
        ..
43.55    1
35.72    1
46.27    1
74.09    1
93.21    1
Name: count, Length: 318, dtype: int64

## Heat Index

In [24]:
data2['Heat Index'].value_counts()

Heat Index
27.5    4
36.9    3
32.3    3
32.6    3
26.7    3
       ..
29.9    1
31.7    1
35.8    1
40.3    1
29.7    1
Name: count, Length: 77, dtype: int64

## Wind Speed

In [25]:
data2['Wind Speed'].value_counts()

Wind Speed
20.2    7
20.0    6
17.2    6
21.6    5
16.0    5
       ..
19.2    1
30.2    1
44.8    1
35.9    1
31.4    1
Name: count, Length: 173, dtype: int64

## Wind Gust

In [26]:
data2['Wind Gust'].value_counts()

Wind Gust
29.5    15
35.3    14
33.5    12
37.1    12
31.7    11
        ..
45.6     1
54.3     1
46.9     1
74.8     1
44.3     1
Name: count, Length: 100, dtype: int64

## Wind Direction

In [27]:
data2['Wind Direction'].value_counts()

Wind Direction
96.79     2
310.33    2
189.42    2
188.96    2
201.83    2
         ..
199.67    1
109.33    1
90.96     1
165.54    1
243.71    1
Name: count, Length: 320, dtype: int64

## Wind Chill

In [28]:
data2['Wind Chill'].value_counts()

Wind Chill
 2.8    5
 6.3    4
 2.7    3
 4.1    3
 8.3    3
       ..
-5.1    1
-1.3    1
-0.1    1
-8.3    1
 4.4    1
Name: count, Length: 85, dtype: int64

## Precipitation

In [29]:
data2['Precipitation'].value_counts()

Precipitation
0.00     199
0.02       8
0.27       5
1.09       4
0.01       3
        ...
10.39      1
9.05       1
0.82       1
6.49       1
5.37       1
Name: count, Length: 101, dtype: int64

## Precipitation Cover

In [30]:
data2['Precipitation Cover'].value_counts()

Precipitation Cover
0.00     199
4.17      28
8.33      22
12.50     15
20.83     12
16.67     10
25.00      8
29.17      7
33.33      5
37.50      3
75.00      2
45.83      2
62.50      2
50.00      2
17.39      1
54.17      1
83.33      1
58.33      1
70.83      1
41.67      1
95.83      1
66.67      1
42.86      1
Name: count, dtype: int64

## Snow Depth

In [31]:
data2['Snow Depth'].value_counts()

Snow Depth
0.0    2
Name: count, dtype: int64

## Visibility

In [32]:
data2['Visibility'].value_counts()

Visibility
16.0    159
15.9     32
15.7     18
15.8     14
15.6     11
15.4      9
15.5      8
15.0      7
14.9      5
14.4      4
13.2      4
15.3      4
15.1      3
14.6      3
15.2      3
13.4      3
14.3      2
12.8      2
14.7      2
13.8      2
12.7      2
10.7      2
11.1      2
13.0      2
14.2      2
8.5       1
12.9      1
10.4      1
6.0       1
13.7      1
8.8       1
11.6      1
11.5      1
10.5      1
7.4       1
11.9      1
13.3      1
4.8       1
8.9       1
14.8      1
13.5      1
13.1      1
14.0      1
11.8      1
13.9      1
10.9      1
Name: count, dtype: int64

## Cloud Cover

In [33]:
data2['Cloud Cover'].value_counts()

Cloud Cover
77.5    4
53.5    3
64.6    3
85.1    3
75.8    3
       ..
82.8    1
94.2    1
77.9    1
93.0    1
92.5    1
Name: count, Length: 263, dtype: int64

## Sea Level Pressure

In [34]:
data2['Sea Level Pressure'].value_counts()

Sea Level Pressure
1014.0    6
1018.9    6
1015.9    5
1013.4    5
1010.3    5
         ..
1009.0    1
1031.5    1
1031.6    1
1028.7    1
1009.6    1
Name: count, Length: 176, dtype: int64

## Weather Type

In [35]:
data2['Weather Type'].value_counts()

Weather Type
Light Rain                                                                                    23
Mist                                                                                          19
Light Drizzle, Light Rain                                                                     16
Mist, Light Drizzle, Rain, Heavy Rain, Light Rain                                             14
Mist, Light Drizzle, Light Rain                                                               12
Smoke Or Haze                                                                                 10
Mist, Fog                                                                                      9
Mist, Light Rain                                                                               8
Mist, Smoke Or Haze                                                                            6
Lightning Without Thunder, Mist, Light Drizzle, Thunderstorm, Rain, Heavy Rain, Light Rain     6
Light Drizzle                                                                                  5
Mist, Light Drizzle, Thunderstorm, Rain, Heavy Rain, Light Rain                                3
Mist, Light Drizzle                                                                            3
Lightning Without Thunder, Light Rain                                                          3
Mist, Light Drizzle, Rain, Fog, Heavy Rain, Light Rain                                         3
Light Drizzle, Rain, Heavy Rain, Light Rain                                                    3
Fog                                                                                            3
Lightning Without Thunder, Thunderstorm, Light Rain                                            3
Mist, Thunderstorm, Light Rain                                                                 2
Light Drizzle, Thunderstorm, Light Rain                                                        2
Light Drizzle, Smoke Or Haze                                                                   2
Lightning Without Thunder, Light Drizzle, Light Rain                                           2
Lightning Without Thunder, Mist, Light Drizzle, Rain, Thunderstorm, Heavy Rain, Light Rain     2
Light Rain, Smoke Or Haze                                                                      2
Thunderstorm, Light Rain                                                                       2
Drizzle, Mist, Heavy Drizzle, Light Drizzle, Rain, Heavy Rain, Light Rain                      2
Mist, Rain, Heavy Rain, Light Rain                                                             2
Lightning Without Thunder, Rain, Heavy Rain, Light Rain                                        1
Lightning Without Thunder, Mist, Rain, Thunderstorm, Heavy Rain, Light Rain                    1
Lightning Without Thunder, Light Drizzle, Thunderstorm, Rain, Light Rain                       1
Lightning Without Thunder                                                                      1
Ice, Light Snow, Light Drizzle, Light Rain                                                     1
Rain, Thunderstorm, Heavy Rain, Light Rain                                                     1
Thunderstorm, Rain, Fog, Heavy Rain                                                            1
Thunderstorm, Rain, Heavy Rain                                                                 1
Lightning Without Thunder, Squalls, Thunderstorm, Rain, Heavy Rain, Light Rain                 1
Mist, Light Drizzle, Heavy Rain, Light Rain                                                    1
Lightning Without Thunder, Light Drizzle, Thunderstorm, Light Rain, Smoke Or Haze              1
Mist, Thunderstorm, Rain, Light Rain                                                           1
Lightning Without Thunder, Light Drizzle, Thunderstorm, Light Rain                             1
Mist, Light Drizzle, Fog, Light Rain                                                           1
Mist, Light Rain, Smoke Or Haze                                                                1
Lightning Without Thunder, Mist, Thunderstorm, Smoke Or Haze                                   1
Lightning Without Thunder, Mist, Light Drizzle, Thunderstorm, Light Rain                       1
Lightning Without Thunder, Mist, Light Drizzle, Thunderstorm, Light Rain, Smoke Or Haze        1
Lightning Without Thunder, Mist, Rain, Thunderstorm, Heavy Rain, Light Rain, Smoke Or Haze     1
Light Snow, Mist, Light Rain                                                                   1
Ice, Mist, Rain, Heavy Rain, Light Rain                                                        1
Light Snow, Light Drizzle                                                                      1
Lightning Without Thunder, Mist, Light Drizzle, Rain, Heavy Rain, Light Rain                   1
Mist, Light Drizzle, Rain, Light Rain                                                          1
Rain, Heavy Rain, Light Rain                                                                   1
Drizzle, Mist, Heavy Drizzle, Light Drizzle, Rain, Fog, Heavy Rain, Light Rain                 1
Light Drizzle, Rain, Fog, Heavy Rain, Light Rain                                               1
Name: count, dtype: int64

## Latitude

In [36]:
data2['Latitude'].value_counts()

Latitude
38.8904    326
Name: count, dtype: int64

## Longitude

In [37]:
data2['Longitude'].value_counts()

Longitude
-77.032    326
Name: count, dtype: int64

## Resolved Address

In [38]:
data2['Resolved Address'].value_counts()

Resolved Address
United States    326
Name: count, dtype: int64

## Name

In [39]:
data2['Name'].value_counts()

Name
United States    326
Name: count, dtype: int64

## Info

In [40]:
data2['Info'].value_counts()

Series([], Name: count, dtype: int64)

## Conditions

In [41]:
data2['Conditions'].value_counts()

Conditions
Partially cloudy          128
Rain, Overcast             88
Overcast                   41
Rain, Partially cloudy     39
Clear                      30
Name: count, dtype: int64

# **Feature Engineering on Second Data**

In [42]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 326 entries, 0 to 325
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              326 non-null    object
 1   Date time            326 non-null    object
 2   Minimum Temperature  326 non-null    float64
 3   Maximum Temperature  326 non-null    float64
 4   Temperature          326 non-null    float64
 5   Dew Point            326 non-null    float64
 6   Relative Humidity    326 non-null    float64
 7   Heat Index           115 non-null    float64
 8   Wind Speed           326 non-null    float64
 9   Wind Gust            218 non-null    float64
 10  Wind Direction       326 non-null    float64
 11  Wind Chill           135 non-null    float64
 12  Precipitation        326 non-null    float64
 13  Precipitation Cover  326 non-null    float64
 14  Snow Depth           2 non-null      float64
 15  Visibility           326 non-null    float64
 16  Cloud Cover          326 non-null    float64
 17  Sea Level Pressure   326 non-null    float64
 18  Weather Type         194 non-null    object
 19  Latitude             326 non-null    float64
 20  Longitude            326 non-null    float64
 21  Resolved Address     326 non-null    object
 22  Name                 326 non-null    object
 23  Info                 0 non-null      float64
 24  Conditions           326 non-null    object
dtypes: float64(19), object(6)
memory usage: 63.8+ KB

## 'Date time' to datetime

In [43]:
data2['Date time'] = pd.to_datetime(data2['Date time'], format='%m/%d/%Y')

In [44]:
data2['Date time'] = pd.to_datetime(data2['Date time'])

In [45]:
data2['Date time']

0     2023-01-01
1     2023-01-02
2     2023-01-03
3     2023-01-04
4     2023-01-05
         ...
321   2023-11-18
322   2023-11-19
323   2023-11-20
324   2023-11-21
325   2023-11-22
Name: Date time, Length: 326, dtype: datetime64[ns]

## Drop Address

In [46]:
data2 = data2.drop(['Address'], axis = 1)

## Drop Minimum Temperature and Maximum Temperature

In [47]:
# drop Minimum Temperature and Maximum Temperature from data2

data2 = data2.drop(['Minimum Temperature', 'Maximum Temperature'], axis=1)

## Drop Latitude, Longitude, Resolved Address, Name, Info

In [48]:
# drop Latitude, Longitude, Resolved Address, Name, Info from data2

data2 = data2.drop(['Latitude', 'Longitude', 'Resolved Address', 'Name', 'Info'], axis=1)

## Drop Snow Depth

In [49]:
data2 = data2.drop(['Snow Depth'], axis = 1)

## Drop Visibility

In [50]:
data2 = data2.drop(['Visibility'], axis = 1)

## Drop Sea Level Pressure

In [51]:
data2 = data2.drop(['Sea Level Pressure'], axis = 1)

## Drop Weather Type

In [52]:
data2 = data2.drop(['Weather Type'], axis = 1)

## Drop Wind Gust, Direction, Chill

In [53]:
# drop Wind Gust, Wind Chill, Wind Direction from data2

data2 = data2.drop(['Wind Gust', 'Wind Chill', 'Wind Direction'], axis=1)

## Drop Heat Index

In [54]:
data2 = data2.drop(['Heat Index'], axis = 1)

## Drop Precipitation Cover

In [55]:
data2 = data2.drop(['Precipitation Cover'], axis = 1)

## After Drop(s)

In [56]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 326 entries, 0 to 325
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date time          326 non-null    datetime64[ns]
 1   Temperature        326 non-null    float64
 2   Dew Point          326 non-null    float64
 3   Relative Humidity  326 non-null    float64
 4   Wind Speed         326 non-null    float64
 5   Precipitation      326 non-null    float64
 6   Cloud Cover        326 non-null    float64
 7   Conditions         326 non-null    object
dtypes: datetime64[ns](1), float64(6), object(1)
memory usage: 20.5+ KB

# **Overlook into First and Second Data**

In [57]:
data1

        date             value
0 2023-01-01  182.636276723332
1 2023-02-01  174.561285576855
2 2023-03-01  168.300258877164
3 2023-04-01  170.764655371124
4 2023-05-01  157.134011971114
5 2023-06-01  154.069169324197
6 2023-07-01  157.908976461302
7 2023-08-01   161.30619330389
8 2023-09-01  168.657488561668
9 2023-10-01   167.77064363426

In [58]:
data2

,Date time,Temperature,Dew Point,Relative Humidity,Wind Speed,Precipitation,Cloud Cover,Conditions
0,2023-01-01,11.0,7.9,82.24,14.2,0.10,47.7,"Rain, Partially cloudy"
1,2023-01-02,10.5,6.8,79.25,14.7,0.00,87.8,Overcast
2,2023-01-03,15.1,11.3,78.49,28.5,0.00,90.7,Overcast
3,2023-01-04,15.3,12.8,85.43,22.8,0.00,85.1,Overcast
4,2023-01-05,13.5,7.8,70.43,20.2,0.00,75.8,Overcast
...,...,...,...,...,...,...,...,...
321,2023-11-18,12.8,4.9,62.37,31.4,0.47,38.1,"Rain, Partially cloudy"
322,2023-11-19,9.7,-1.9,46.61,20.0,0.00,0.9,Clear
323,2023-11-20,7.1,-1.5,55.23,17.2,0.00,55.1,Partially cloudy
324,2023-11-21,8.9,5.6,80.39,25.9,42.05,97.6,"Rain, Overcast"
325,2023-11-22,11.6,10.5,93.21,16.3,5.37,92.5,"Rain, Overcast"

# **To CSV**
sekadar buat simpan data yang udah di-transform supaya tidak perlu run ulang kode dari awal

In [ ]:
data1.to_csv('commodities_new.csv', index=False)

In [59]:
data2.to_csv('weather_new.csv', index=False)

# **Merge the Datas**

In [60]:
df1 = pd.read_csv('commodities_new.csv')
df2 = pd.read_csv('weather_new.csv')

In [61]:
df1['date'] = pd.to_datetime(df1['date'])

In [62]:
df2['Date time'] = pd.to_datetime(df2['Date time'])

In [63]:
# merge data1 and data2 on the same month

df = pd.merge(df1, df2, left_on=df1['date'].dt.month, right_on=df2['Date time'].dt.month)
df

,key_0,date,value,Date time,Temperature,Dew Point,Relative Humidity,Wind Speed,Precipitation,Cloud Cover,Conditions
0,1,2023-01-01,182.636277,2023-01-01,11.0,7.9,82.24,14.2,0.10,47.7,"Rain, Partially cloudy"
1,1,2023-01-01,182.636277,2023-01-02,10.5,6.8,79.25,14.7,0.00,87.8,Overcast
2,1,2023-01-01,182.636277,2023-01-03,15.1,11.3,78.49,28.5,0.00,90.7,Overcast
3,1,2023-01-01,182.636277,2023-01-04,15.3,12.8,85.43,22.8,0.00,85.1,Overcast
4,1,2023-01-01,182.636277,2023-01-05,13.5,7.8,70.43,20.2,0.00,75.8,Overcast
...,...,...,...,...,...,...,...,...,...,...,...
299,10,2023-10-01,167.770644,2023-10-27,20.3,14.8,72.70,15.7,0.00,66.5,Partially cloudy
300,10,2023-10-01,167.770644,2023-10-28,21.7,15.5,70.61,16.2,0.00,50.1,Partially cloudy
301,10,2023-10-01,167.770644,2023-10-29,20.7,16.5,77.37,17.2,0.99,90.2,"Rain, Overcast"
302,10,2023-10-01,167.770644,2023-10-30,17.1,12.7,75.93,36.5,0.89,79.8,"Rain, Overcast"
303,10,2023-10-01,167.770644,2023-10-31,10.3,0.4,50.86,24.7,0.02,79.2,"Rain, Overcast"

In [64]:
df = df.drop(['key_0', 'date'], axis = 1)

# Pindahkan kolom 'value' ke paling kanan
col_value = df.pop('value')
df.insert(len(df.columns), 'value', col_value)

In [65]:
df

,Date time,Temperature,Dew Point,Relative Humidity,Wind Speed,Precipitation,Cloud Cover,Conditions,value
0,2023-01-01,11.0,7.9,82.24,14.2,0.10,47.7,"Rain, Partially cloudy",182.636277
1,2023-01-02,10.5,6.8,79.25,14.7,0.00,87.8,Overcast,182.636277
2,2023-01-03,15.1,11.3,78.49,28.5,0.00,90.7,Overcast,182.636277
3,2023-01-04,15.3,12.8,85.43,22.8,0.00,85.1,Overcast,182.636277
4,2023-01-05,13.5,7.8,70.43,20.2,0.00,75.8,Overcast,182.636277
...,...,...,...,...,...,...,...,...,...
299,2023-10-27,20.3,14.8,72.70,15.7,0.00,66.5,Partially cloudy,167.770644
300,2023-10-28,21.7,15.5,70.61,16.2,0.00,50.1,Partially cloudy,167.770644
301,2023-10-29,20.7,16.5,77.37,17.2,0.99,90.2,"Rain, Overcast",167.770644
302,2023-10-30,17.1,12.7,75.93,36.5,0.89,79.8,"Rain, Overcast",167.770644
303,2023-10-31,10.3,0.4,50.86,24.7,0.02,79.2,"Rain, Overcast",167.770644

In [66]:
df.isna().sum()

Date time            0
Temperature          0
Dew Point            0
Relative Humidity    0
Wind Speed           0
Precipitation        0
Cloud Cover          0
Conditions           0
value                0
dtype: int64